* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0
}

img, iframe {
    width: 100%;
}

#header {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 128px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 5;
}

#header h1 {
    margin: 0;
    /* animation: blink 1.5s infinite; */
    animation: bounce 1.5s;
}

@keyframes bounce {
    0% {
        filter: opacity(0);
        transform: translateY(-20px);
    }
    35% {
        filter: opacity(0.25);
        transform: translateY(0);
    }
    70% {
        filter: opacity(0.5);
        transform: translateY(-10px);
    }
    100% {
        filter: opacity(1);
        transform: translateY(0);
    }
}

@keyframes blink {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

h1 {
    font-weight: 700;
    font-size: 46px;
    margin: 0 0 16px 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

p {
    color: #7B8FA1;
    margin: 0 0 16px 0;
    font-size: 19px;
}

.btn {
    background-color: #FFC93C;
    color: #fff;
    padding: 9px 22px;
}

.btn-alt {
    background-color: #fff;
    color: #000;
    border: 2px solid #FFC93C;
}

section {
    margin-top: 24px;
    padding: 64px 128px;
}

#landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 17px;
}

#landing > div {
    width: 50%;
}

#landing p {
    margin-bottom: 36px;
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 17px;
}

#about > div {
    width: 50%;
}

#about-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* text-align: center; */
    margin-top: 68px;
}

.items {
    display: flex;
    flex-direction: column;
}

.items > div {
    width: 50px;
    height: 10px;
    background-color: #FFC93C;
    margin-bottom: 17px;
}

.service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-header h1 {
    position: relative;
}

.service-header h1::before {
    content: "";
    width: 60px;
    height: 60px;
    background: url(images/accent1.svg);
    position: absolute;
    left: -22px;
    top: -11px;
    z-index: -1;
}

.service-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 128px;
    margin-top: 68px;
}

.service-detail-items {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.service-detail-items:hover {
    transform: scale(1.1);
}

.service-detail-items img:hover {
    filter: grayscale(0);
}

.service-detail-items img {
    width: 100%;

    /* cnth filter */
    filter: grayscale(1);
}

.service-detail-items h2 {
    padding: 0 16px;
}

.service-detail-items p {
    font-size: 17px;
    padding: 0 16px;
}

#contact h1 {
    position: relative;
}

#contact > h1::before {
    content: "";
    width: 60px;
    height: 60px;
    background: url(images/accent2.svg);
    position: absolute;
    left: -22px;
    top: -11px;
    z-index: -1;
}

.contact-details > div, .contact-details > form {
    width: 100%;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    margin-top: 68px; 
}

.contact-details h1 {
    font-size: 32px;
}

form {
    display: flex;
    flex-direction: column;
    border: 3px solid #FFC93C;
    padding: 64px 34px;
}

form h1 {
    font-size: 32px;
    text-align: center;
}

form button {
    border: none;
}

form button:hover {
    cursor: pointer;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    margin-top: 28px;
    grid-template-areas: "name email"
                        "subject number"
                        "message message";
}

#input-name {
    grid-area: name;
}

#input-email {
    grid-area: email;
}

#input-subject {
    grid-area: subject;
}

#input-number {
    grid-area: phone number;
}

#input-message {
    grid-area: message;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.input-group label {
    font-weight: 600;
    font-size: 18px;
}

.input-group input {
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    margin-top: 16px;
    font-size: 14px;
}

header > h1 {
    color: #FFC93C;
    font-size: 36px;
}

nav > a {
    margin-right: 14px;
}

nav > a:hover {
    color: #FFC93C;
}

footer {
    padding: 13px 128px;
    background-color: #FFC93C;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h1 {
    font-size: 28px;
}

footer p {
    color: #fff;
    font-size: 16px;
    width: 60%;
}

.social {
    display: flex;
    gap: 34px;
}

.social:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .service-detail {
        gap: 28px;
    }
    .contact-details {
        gap: 28px;
    }
    .form-group {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 992px) {
    #header, #footer {
        padding: 16px 32px;
    }
    
    section {
        padding: 64px 32px;
    }

    #landing {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #landing > div {
        width: 100%;
    }

    #about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #about > div {
        width: 100%;
    }

    .service-detail {
        gap: 18px;
    }

    .contact-details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 64px;
    }

    .contact-details form, .contact-details > div {
        width: 100%;
    }
}